.ProjectCardContainer {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  cursor:pointer;
}

.ProjectCard {
  box-shadow: 15px 15px 71px -2px rgba(0,0,0,0.25); /* box-shadow.dev */
  width: 40vh; /* Adjust the width */
  height: 40vh; /* Adjust the height */
  margin-top: 6vh; /* Add margin */
}

.ProjectCard:hover {
  background-color: rgba(0, 0, 0, .1); /* Example hover background color */
  
}

.ProjectCardContainer p {
  font-size: 16px; /* Adjust the font size */
  font-family: Source Code Pro;
  color: white; /* Adjust the text color */
}

.LinksContainer {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.Link {
  display: inline-block;
  margin-left: 10px;
}

.LinkImage {
  width: 25px; /* Adjust the image width */
  height: 25px; /* Adjust the image height */
}

.Link:hover {
  opacity: 0.7; /* Reduce opacity on hover for better feedback */
}
