.ProjectCardContainer {
  font-family: 'San Francisco', sans-serif;
  display: flex;
  align-items: center; /* Change align-items to center */
  cursor: pointer;
  padding: 20px;
  width: 50vw;
  text-align: left;
  background-color: transparent;
  margin: 20px;
  transition: opacity 0.25s ease;
}

.ProjectCardContainer:hover {
  border-radius: 10px;
  background-color: rgba(157, 130, 199, 0.1);
  transition: background-color .125s ease;
}

.ImagePreview {
  flex: 0 0 auto;
  width: 150px; 
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: 20px;
}

.CardContent h3 {
  font-size: 11pt;
  margin-bottom: 10px;
  margin-top: 0; /* Add margin-top: 0; to remove any default margin */
}

.CardContent p {
  font-size: 10pt;
  color: #94a3b8;
}

.ProjectCardLink {
  text-decoration: none;
  color: inherit; /* Inherits the color from the parent */
  z-index: 1;
}

.Stack {
  display: flex;
  flex-wrap: wrap;
}

.Pill {
  display: inline-block;
  background-color: #222f44;
  color: #cbd5e1;
  font-size: 10pt;
  border-radius: 16px; /* Adjust the border-radius to change the pill's roundness */
  padding: 2px 14px; /* Adjust the padding to control the pill's size */
  margin-right: 8px; /* Adjust the margin to control the space between pills */
  margin-bottom: 8px; /* Adjust the margin to control the space between rows of pills */
}
