.ScrollDownContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 999;
}

.ScrollDownArrow {
  width: 15px;
  height: auto;
  animation: bounce 1.5s infinite;
}

.ScrollDownText {
  font-size: 14px;
  font-family: Source Code Pro;
  color: #94a3b8;
  margin-left: 10px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.ScrollDownContainer.hidden {
  opacity: 0;
}
